* {
	font-family: sans-serif;
}
ul {
	margin-left: 80%;
	list-style-type: none;
}
li {
	display: inline-block;
}
form {
	height:300px;
	width:300px;
}
label {
	display: block;
}
input {
	width:160px;
}